<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" 
                [(ngModel)]='listFilter'/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{listFilter}} </h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table"
            *ngIf='tests && tests.length'>
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>Test Name</th>
                        <th>projectName</th>
                        <th>Tester</th>
                        <th>Solution Path</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = 'let test of filteredtests'>
                        <td>{{test.testId}}</td>
                        <td><a [routerLink]="['/tests', test.testId]">{{test.testName}}</a></td>
                        <td>{{test.projectName }}</td>
                        <td>{{test.tester}}</td>
                        <td>{{test.solutionPath}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>